# Ignorer le dossier contenant les données
data/

# Ignorer le dossier contenant les résultats et analyses
outputs/

# Ignorer le fichier de configuration avec la clé API
.env

# Ignorer le fichier CSV des résultats d'évaluation
resultats_evaluation.csv
final_resultats_evaluation.csv
resultats.ipynb
